 $colors: lightblue,
 lightgreen,
 lightyellow,
 lightseagreen,
 lightcyan,
 lightcoral,
 lightgoldenrodyellow,
 lightpink,
 lightgrey,
 lightgray,
 lightsalmon,
 lightblue;
 $key: random(length($colors));
 $nth: nth( $colors, $key);
 //
 .bubble {
 	background-color: #F2F2F2;
 	border-radius: 5px;
 	box-shadow: 0 0 6px #B2B2B2;
 	display: inline-block;
 	padding: 10px 18px;
 	position: relative;
 	vertical-align: top;
 }

 .bubble::before {
 	background-color: #F2F2F2;
 	content: "\00a0";
 	display: block;
 	height: 16px;
 	width: 20px;
 	position: absolute;
 	top: 11px;
 	transform: rotate( 29deg) skew( -35deg);
 	-moz-transform: rotate( 29deg) skew( -35deg);
 	-ms-transform: rotate( 29deg) skew( -35deg);
 	-o-transform: rotate( 29deg) skew( -35deg);
 	-webkit-transform: rotate( 29deg) skew( -35deg);
 }

 .author {
 	font-size: small;
 	font-weight: 100;
 }

 .you {
 	// background-color: $nth;
 	display: inherit;
 	margin: 5px 45px 5px 20px;
 }

 .you::before {
 	// background-color: $nth;
 	box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4);
 	left: -9px;
 }

 .you .author {
 	color: darkslategray;
 }

 .me {
 	background-color: lighten(lightgreen, 15%);
 	display: inherit;
 	text-align: right;
 	margin: 5px 20px 5px 45px;
 }

 .me::before {
 	background-color: lighten(lightgreen, 15%);
 	box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4);
 	right: -9px;
 }

 .me .author {
 	color: #797979;
 }

 .send-box {
 	display: inline;
 	padding-left: 50px;
 	position: relative;
 }

 .message-text {
 	width: 80%
 }
